# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Log files
*.log

# Tunnel configuration files
ngrok.txt
pinggy.txt
serveo.txt
frontend/shopapp_frontend/localtunnel.txt
frontend/shopapp_frontend/localtunnel_new.txt

